@font-face {
  font-family: 'francisco';
  src: url('./fonts/francisco/FranciscoDemo.ttf');
}
body{
  background-color: white;
  margin: 0px;
  padding: 0px;
}
.frase{
 font-family: 'francisco';
 font-size: 45px;
 display: flex;
 justify-content: center;
 margin-top: 25vh;
}
.logos{
display: flex;
justify-content: center;

.show{
  border-radius: 100px;
  border: solid 2px;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.30);
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.30);
  border-color: #d9d9d9;
  width: 28vh;
}

}

.logo{
  width:  30vh;
  height: 10vh
}
.icono{
  width: 10vh;
  display: block;
}
.icono-loading{
  width:17vh;
  height:20vh;
    
}
.icono-loading-letra{
  width: 40vh;
  height: 20vh;
}
.cargando{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario{
  margin-top: 60px;
  display: grid;
  justify-content: center;
  align-content: center;


}
input{
  margin-top: 30px;
  border-radius: 20px;
  background-color: #ffffff6a;
  padding: 5%;
  border-color: transparent;

 
}
::placeholder{
  color:white
}
.btnLogin{
  margin-top: 30px;
  color:white;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  border:thick;
  background-color: transparent;
  padding: 5%;

  border-color: transparent;
  cursor: pointer;
  border:1px solid;

  &:hover{
    background-color: white;
    color : black
  }

}
.iconoLogin{
  height: 25px;
  position: absolute;
}

@media screen and (max-width: 1024px){

}

