@font-face {
  font-family: 'francisco';
  src: url('./fonts/francisco/FranciscoDemo.ttf');
}

.frase{
 font-family: 'francisco';
 font-size: 45px;
 display: flex;
 justify-content: center;
 margin-top: 30vh;
}
.logos{
display: flex;
justify-content: center;


}

.logo{
  width:  30vh;
  height: 10vh
}
.icono{
  width: 10vh;
  display: block;

  
}
.formulario{
  margin-top: 60px;
  display: grid;
  justify-content: center;
  align-content: center;


}
input{
  margin-top: 30px;
  border-radius: 20px;
  background-color: #ffffff6a;
  padding: 5%;
  border-color: transparent;

 
}
::placeholder{
  color:white
}
.btnLogin{
  margin-top: 30px;
  border-radius: 20px;
  border:thick;
  background-color: transparent;
  padding: 5%;

  border-color: transparent;
  cursor: pointer;
  border:1px solid;

  &:hover{
    background-color: white;
    color : black
  }

}
.iconoLogin{
  height: 25px;
  position: absolute;
}

@media screen and (max-width: 1024px){

}

