.escritorio {
    background-color: #EAE9E9;
    color: grey;

}

.cc {
    position: absolute;
    display: block;
}

.logo-rojo {
    width: 10vh;
}

.usuario {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.bg-d9 {
    background-color: #979ca5;
}

span {
    color: #eaeaea;

    &:hover {
        color: #a5280c;
    }
}
.visual{
    display: none;
}

.show {
    border-radius: 100px;
    border: solid 2px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.30);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.30);
    border-color: #d9d9d9;
    width: 28vh;
    background-color: transparent;
}

li {
    list-style: none;
    margin-inline-start: 20px;
}

.select {
    color: red;
    text-decoration: underline;
}

.unselect {
    &:hover {
        color: red;
        cursor: pointer;
    }
}
.overflow-hyg{
    
    overflow: hidden;
}


@media screen and (max-width:1000px) {

    .visual{
        display: block;
        
    }
    .cc{
        display: none;
    
    }
    
}