.login{
    background-image: url('./assets/fondo-principal.avif');
    background-repeat: no-repeat;
    background-size: 230vh;
    height: 100vh;  
  }
  
  @media  (max-width: 1024px){
      body{
        background-size: 230vh;
      }
  }
  